body{
  padding: 0;
  margin: 0;
  background: #00A8B4;
  font-size: 25px;
  font-family: 'Pacifico', Arial, sans-serif;
  line-height: 1;
  overflow: hidden;
}

canvas{
  position: relative;
  display: block;
  margin: auto;
  // width: 100vw;
}

#menu{
  height: 100vh;
  background: #1099bb;
  display: block;
  position: relative;
  overflow: auto;
  h1{
    text-align: center;
    color: #fff;
  }
  .container{
    display: block;
    position: relative;
    margin: auto;
    text-align: center;
    overflow: auto;
  }
}

#canvas{
  display: none;
}

#message{
  display: block;
  position: absolute;
  left: 0;
  height: 100vh;
  width: 100vw;
  text-align: center;
  z-index: 100;
  top: -12vh;
  span{
    font-size: 75px;
    color: #fff;
    padding-top: 50vh;
    display: block;
    position: relative;
  }
}


@import "mixins.less";

@import "buttons.less";
